.footer {
    background: #e4efc0; /*Old browsers */
    background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4efc0), color-stop(100%, #abbd73)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e4efc0 0%, #abbd73 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4efc0', endColorstr='#abbd73', GradientType=0); /* IE6-9 */
    border-top: 1px solid #ddd;
    height: auto;
    width: 100%;
    margin-bottom: -40px;
}

.footerSig {
    margin-top: -65px;
}

#footerLinksDiv {
    margin-bottom: -72px;
}

#socialButtons {
    text-align: center;
}

.text-green {
    color: rgba(108, 153, 97, 0.76);
}

#footerDivider {
    width: 81%;
    margin-left: 9%;
    border-top-color: #D2D2D2;
}