<div id="aboutContainer" class="container">
    <div class="text-center">
        <h1 class="text-green">About Gardopia</h1>
    </div>
    <div><h4><strong>How It Started</strong></h4>

        <p>In 2012 our founder Stephen Lucke started a community garden at the University of
            the Incarnate Word. <br>The garden was born out of his love for wellness, including nutrition, exercise, and
            stewardship of the environment. <br>In conjunction with UIW, Stephen began collaborating with outside
            entities
            in impoverished communities to spread the seed of wellness.</p>
    </div>
    <div>
        <h4><strong>Mission</strong></h4>

        <p>The mission of Gardopia is to engage and educate communities in the natural environment while
            providing healthy food options to underprivileged communities.</p>
    </div>
    <div>
        <h4><strong>Vision</strong></h4>

        <p>Our vision is to have community and educational gardens throughout San Antonio, in turn reducing obesity,
            related diseases, and pollution.</p>
    </div>
    <div>
        <h4><strong>Non-Profit</strong></h4>

        <p>Gardopia builds and maintains many educational/community gardens at a reduced cost, providing a much needed
            service that is otherwise unaffordable in such communities.</p>
    </div>
    <hr class="divider">
    <h4 class="text-center">Meet the Founder</h4>
    <img class="img-circle center-block"
         src="img/stephen_uiw.jpg"
         alt="Could not find image!">

    <p class="text-center">
        <strong>Stephen Lucke</strong><br>
        Chief Gardener, Founder<br>
        B.S. Biochemistry<br>
        <a href="tel:+1-210-478-7292">(210) 478-7292</a><br>
        <a href="mailto:lucke@gardopiagardens.com">Lucke@gardopiagardens.com</a><br>
        <a href="http://goo.gl/vAWnSM">LinkedIn</a>
    </p>
</div>