<div class="container marketing">
    <h1 class="text-green text-center">Community Garden News & Events</h1>

    <div>
        <h4>Ella Austin:</h4>
            Started in the fall of 2013 as a collaborative effort between the Eastside

        Promise Neighborhood, Ella Austin Community Center, University of the Incarnate

        Word, and so many more great people and organizations! This beautiful youth

        garden is situated between the historic Dignowity Hill’s GSA Garden, and the EACC’s

        Senior Garden, making these truly inter-generational gardens! Gardopia thanks the

        Eastside Promise Neighborhood, Urban Strategy, the PaCT Health & Wellness

        committee, UIW, and all other involved parties for their investment in health and

        wellness education!
    </div>
    <div>
        <h4>Carroll:</h4>
        Early Childhood Education Center, Garopia, and UIW successfully revived a

        former garden in the spring of 2014. Principal Barrera (UIW alumni) and Dr. Moore

        (UIW Professor) helped bring together a wonderful teaching opportunity in “Peter

        Rabbit’s Garden” (A classic tale by author Beatrice Potter). We recently celebrated

        our one-year anniversary of the garden by planting our second spring/summer

        garden!
    </div>
    <div>
        <h4>Bowden:</h4>
        One of the newest community gardens that Gardopia is helping maintain.

        Bowden Elementary (next to Ella Austin) was recently awarded a grant by the

        Eastside Promise Neighborhood , similar to one that helped build the Ella Austin

        garden. Bowden already had existing infrastructure from a past garden, allowing

        students to partake in experiential learning immediately this spring of 2015! We

        look forward to continued growth with the program at Bowden!
    </div>
    <div>
        <h4>Sam Houston:</h4>
        Gardopia was blessed to be asked by City Year to work with Sam

        Houston, the only high school on the Eastside of San Antonio. City Year and teachers

        from Sam Houston have maintained their garden over the past few years; we hope

        to help them maximize production and education. They also have been planning a

        brand new farmers market at the school on Saturdays, and have aspirations of using

        the produce at the local market! Gardopia sees endless potential in a setting such as

        Sam Houston!
    </div>
</div>
