<div id="contactWrap" class="center-block container">
    <h1 class="text-green text-center">Contact Info</h1><br><br>

    <div class="container-fluid">
        <div class="col-md-4">
            <h4 class="text-info">Stephen Lucke - <i>President</i></h4>
            <ul>
                <li>Mobile: <a href="tel:+1-210-478-7292">(210) 478-7292</a><br></li>
                <li>Email: <a href="mailto:lucke@gardopiagardens.com">Lucke@gardopiagardens.com</a></li>
                <li>Facebook: <a href="https://www.facebook.com/pages/Gardopia-Gardens/1560622387524090"
                                 target="_blank">
                    Gardopia Gardens
                    Facebook</a></li>
            </ul>

        </div>
        <div class="col-md-4">
            <img class="img-circle center-block noMargin"
                 src="img/stephen_uiw.jpg"
                 alt="Could not find image!">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <br>
</div>