<div class="row">
    <h1 class="text-green text-center">
        Frequently Asked Questions
    </h1>
</div>
<div class="row">
    <ul>
        <li>
            <h4>
                Where should I locate my garden?
            </h4>
            <ul>
                <li>Most fruits and vegetables prefer full sunlight, and require 6 – 8 hours to produce a worthwhile
                    yield. Try to find a spot that receives morning and afternoon sun.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                What type of soil should I use?
            </h4>
            <ul>
                <li>
                    Try to use a soil that specifically is made for fruits and vegetables, rose soil can work as
                    well. Too much clay in the soil will retain water, and soil that is too loose will not hold
                    enough moisture…therefore a medium soil that is a mixture of clay/sand/compost is best.
                </li>
            </ul>
        </li>

        <li>
            <h4>
                When do I plant?
            </h4>
            <ul>
                <li>
                    There are many seasons within a year, but a three plot rotation is best. You can plant many
                    green leafy vegetables (i.e. broccoli, spinach, swiss chards, etc.) in the fall and winter. In
                    the spring and summer you can plant another plot with more of the water retaining fruits
                    (tomatoes, squash, peppers, eggplant, etc.). The third plot will always be fallow, allowing for
                    the soil to rest; you can also fertilize the fallow plot to replace nutrients that have been
                    depleted by the plants.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                What do I plant?
            </h4>
            <ul>
                <li>
                    As stated above, different plants are utilized in each season. In the fall/winter vegetables are
                    common (no seeds), and in the spring/summer fruits are more appropriate. <br><a
                        href="http://aggie-horticulture.tamu.edu/archives/parsons/earthkind/ekgarden14.html"
                        target="_blank">More info here</a>.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                How often do I water?
            </h4>
            <ul>
                <li>
                    Depending upon the temperature, watering frequency will differ. In the fall/winter you should
                    water every 1 – 2 days. In the spring summer you can possibly water every day. This will really
                    be dependent upon soil type and temperature. You want your soil to be moist, not dry or
                    waterlogged. Use mulch to help retain water in the summer, and insulate roots in the winter.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                What fertilizers do I use?
            </h4>
            <ul>
                <li>
                    You can use synthetic or natural fertilizers. Since my gardens are organic, I suggest you save
                    your food scraps from the kitchen, and start a compost bin. To supplement your compost, you can
                    use a mixture of liquid seaweed, molasses, and a fish emulsifier (root feeding is recommended).
                </li>
            </ul>
        </li>
        <li>
            <h4>
                How often do I fertilize?
            </h4>
            <ul>
                <li>
                    Optimally you can fertilize every 10 days. At minimum you should fertilize once a month.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                Do I go organic?
            </h4>
            <ul>
                <li>
                    I highly recommend that you try organic gardening, the less synthetic chemicals the more natural
                    your homegrown fruits and vegetables.
                </li>
            </ul>
        </li>
        <li>
            <h4>
                What do I do about bugs?
            </h4>
            <ul>
                <li>
                    Some bugs/insects are beneficial (ladybugs, worms, spiders, etc.) and others are detrimental
                    (mites, caterpillars, etc.) <a href="http://vegetableipm.tamu.edu/indexbyvegetable.html">More
                    info here</a>.

                </li>
            </ul>
        </li>
        <li>
            <h4>
                What about Herbicides and Pesticides?
            </h4>
            <ul>
                <li>
                    Weeds and detrimental insects are a gardener’s worst enemy. In order to mitigate this problem
                    always use trusted sources for soil and plants. Constantly weeding and using mulch will help
                    with the weeds. For insect problems try using beneficial insects and complimentary planting
                    (i.e. tomatoes with basil) before moving to a pesticide; Organic pesticides are always
                    preferred!
                    <a href=" http://agrilifeextension.tamu.edu/browse/featured-solutions/insects/"> More info
                        here</a>.
                </li>
            </ul>
        </li>
    </ul>
</div>