<div class="container">
    <h1 class="text-green text-center">Garden Layouts</h1>

    <div class="col-lg-6">
        <h1 class="text-muted text-center">Standard (4' x 8')</h1>
        <img id="imgStd" class="img-responsive mktImg" height="500" width="400" src="img/standardLayout.jpg">
    </div>
    <div class="col-lg-6">
        <h1 class="text-muted text-center">Custom</h1>
        <img id="imgCust" class="img-responsive center-block" src="img/greenQuestionMark.png"><br>

        <p>Whether you're envisioning the ‘Gardens
            of Eden’ or a simple potted tomato plant,
            Gardopia can turn your dreams into reality. With our accomplished Chief Gardener
            Stephen Lucke, no request is too big or
            small. From a simple raised bed for an
            apartment deck, to a fully integrated
            aquaponic system powered by solar
            energy- If you can dream it, Gardopia can
            build it!</p>
    </div>
</div>
<hr class="divider">
<div class="container">
    <div class="col-md-2 col-lg-offset-1">
        <h3>Community</h3><h5 class="text-info">Parks, Churches, etc.</h5>
    </div>
    <div class="col-md-2">
        <h3>Educational</h3><h5 class="text-info">Schools, Daycare, etc.</h5>
    </div>
    <div class="col-md-2">
        <h3>Therapeutic</h3><h5 class="text-info">Special Ed, Assisted Living, etc.</h5>
    </div>
    <div class="col-md-2">
        <h3>Residential</h3><h5 class="text-info">Houses, Apartments, etc.</h5>
    </div>
    <div class="col-md-2">
        <h3>Commercial</h3><h5 class="text-info">Malls, Strip Centers, etc.</h5>
    </div>
</div>
<hr class="divider"><br>
<div class="container">
    <h1 class="text-green text-center">Services/Fees</h1>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-6">
            <h4 class="text-info">1st Season Starter Kit (~3 months)</h4>
            <ul>
                <li>$500 Install</li>
                <li>Standard size is 4' x 8'</li>
                <li>First season free maintenance</li>
                <li>Free nutritional education</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4 class="text-info">Following Seasons (continued care)</h4>
            <ul>
                <h5><strong>Optimal</strong></h5>
                <li>Weekly visits
                    <ul>
                        <li>$1000/year ($200 discount)</li>
                    </ul>
                </li>

                <h5><strong>Minimal (Gardopia Guarantee)</strong></h5>
                <li>Monthly visits
                    <ul>
                        <li>$250/year ($50 discount)</li>
                        <li>Free annual visits</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>