<div class="container">
    <!----------------------------Carousel------------------------------------->
    <!------------------------------------------------------------------------->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!--Slide Position Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!--Carousel Image #3-->
        <div class="carousel-inner" role="listbox">
            <div id="crslImgOne" class="item active center-block crsl">
                <img src="img/garden2.jpg"
                     alt="Could not find image!">

                <div class="container center-block">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary"
                               href="http://goo.gl/UxI7cE"
                               target="_blank"
                               role="button">Ella Austin Community Center
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <!--Carousel Image #2-->
            <div id="crslImgTwo" class="item center-block crsl">
                <img src="img/stephen_uiw.jpg"
                     alt="Could not find image!">

                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary"
                               href="http://www.thewordonline.org/2013/03/uiw-student-grows-a-community/"
                               target="_blank"
                               role="button">
                                UIW
                                Community Garden
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <!--Carousel Image #3-->
            <div id="crslImgThree" class="item center-block crsl">
                <img src="img/standardLayout.jpg"
                     alt="Could not find image!">

                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a
                                    class="btn btn-lg btn-primary"
                                    href="#/services"
                                    target="_blank"
                                    role="button">Maintenance Services
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Slide Controls (prev/next)-->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!----------------------------------Contact Info--------------------------------------->
    <!------------------------------------------------------------------------------------------>
    <div id="marketingWrapper" class="container marketing">
        <hr class="featurette-divider">
        <div class="text-center">
            <p>
                <a class="btn btn-lg btn-success" href="tel:+1-210-478-7292" role="button">
                    Call for a quote: <strong>(210) 478-7292</strong></a>
            </p>

            <p><a class="btn btn-lg btn-info" href="mailto:GardopiaInc@gmail.com" role="button">Send an Email</a></p>
        </div>
        <br>
        <hr class="featurette-divider">

        <!----------------------------------Marketing Content--------------------------------------->
        <!------------------------------------------------------------------------------------------>
        <div class="row text-center">
            <h2 class="featurette-heading text-center divTitle">Social</h2>
            <!--Twitter feed-->
            <a id="twitterPlugin" class="twitter-timeline" href="https://twitter.com/GardopiaGardens"
               data-widget-id="554383387884916736"
               height="300px" width="300px">Tweets by @GardopiaGardens</a>

            <div class="fb-page" data-href="https://www.facebook.com/pages/Gardopia-Gardens/1560622387524090"
                 data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
        </div>
        <hr class="featurette-divider">
        <h2 id="divTypes" class="featurette-heading text-center divTitle">Garden Types</h2>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    <a ui-sref="gardening" class="text-info">Community Gardens </a><br>
                    Get your community involved in growing a variety of produce.
                </h2>
            </div>
            <div class="col-md-5">
                <img class="mktImg featurette-image img-responsive" src="img/plantBed.jpg"
                     alt="Could not find image!">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="mktImg featurette-image img-responsive" src="img/educational1.jpg"
                     alt="Could not find image!">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading"><a ui-sref="education" class="text-info">Educational
                    Gardens</a>
                    <br>
                    Teach your students how to grow their own fruits and
                    vegetables.
                </h2>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="mktPics featurette-heading"><br><a ui-sref="gardening" class="text-info">
                    Residential
                    Gardens
                </a><br> Grow your own produce, whether at a house or apartment.
                </h2>
            </div>
            <div class="col-md-5">
                <img class="mktImg featurette-image img-responsive" src="img/tomatoes.jpg"
                     alt="Could not find image!">
            </div>
        </div>
    </div>
</div>